body {
    background-image: url('background_image.jpg');
    background-color: #126B72;
    background-size: cover;
    background-position: 20% 20%;
}

.d-block {
        width: fit-content;
        height: 100%;
        content: center;
        border-radius: 5px 5px 5px 5px;
}

.header{
    display: grid;
}

.navbar {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    float: right;
    grid-column-start: 3;
    grid-column-end: 4;
}

.navbar-brand {
    font-size: 30px !important;
    float: right;
}

.title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #352016;
    padding: 20px;
    font-size: 800;
    text-align: center;
}

.title2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    color: #352016;
    font-size: xx-large;
}

.desc {
    font-size: 25px;
    color: #f6ddd1;
    font-weight: lighter;
}

.main{
    padding: 20px;
    margin: 10px;
    background-color: rgba(246, 221, 209, 0.5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 8px;
}

.food {
    width: 100%;
}

.rec {
    font-size: x-large;
    background-color: rgba(18, 107, 114, 0.7);
    color: #352016;
    position: center;
    text-decoration: underline;
}

.img__wrap {
    position: relative;
    width: 100%;
  }
  
  .img__description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(18, 107, 114, 0.7);
    color: #f6ddd1;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
  }
  
  .img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
  }

  .title_name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f6ddd1;
    padding: 20px;
    font-size: 800;

  }
.col-md-6 p { padding: 0 45px; }

.logo {
    width: 150px;
    float: left;
}

.book-names {
    color: #f6ddd1;
    background-color: transparent;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
  }

  .book-reviews {
    font-family: Arial, sans-serif;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .book-review {
    width: calc(25% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: transparent;
    border-radius: 8px;
  }
  
  .book-review:last-child {
    margin-right: 0;
  }
  
  .book-review img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .book-review h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  
  .book-reviews {
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 8px;
  }

  .author-name {
    margin-top: 20px;
    font-size: 20x;
    line-height: 1.5;
    color: #352016;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .Dolly-text {
    width: 50%;
        padding: 50px;
        text-align: center;
        font-size: 16px;
        line-height: 1.5;
        color: #352016;
        background-color: rgba(246, 221, 209, 0.5);
        border-radius: 8px;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); 
}

.EIKAL {
    font-size: 18px !important;
}

.checked {
    color: orange;
  }

.stars {
    padding: 20px;
    font-size: 20px;
}

.audio-player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding: 2.5px;
    border-top: 0.25px transparent;
  }
  
  .audio-title {
    font-size: 20px;
    font-weight: bold;
    color: #f6ddd1;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  audio {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .audio-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .play-btn,
  .pause-btn,
  .mute-btn {
    width: 30px;
    height: 30px;
    background-size: cover;
    border: none;
    cursor: pointer;
  }
  
  .play-btn {
    background-image: url('play.png');
  }
  
  .pause-btn {
    background-image: url('pause.png');
  }
  
  .mute-btn {
    background-image: url('volume.png');
  }
  
  .time {
    margin: 0 10px;
    font-size: 14px;
  }
  
  .volume {
    display: flex;
    align-items: center;
  }
  

.play-btn,
.pause-btn,
.mute-btn {
  width: 30px;
  height: 30px;
  background-size: cover;
  border: none;
  cursor: pointer;
  background-color: transparent;
  opacity: 0.8;
}

.picture-container {
    overflow-x: scroll;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 330px;
  }
  
  .image-container {
    position: relative;
    margin: 0;
    flex: 1;
    padding: 0;
  }
  
  .image-container:hover .overlay {
    opacity: 1;
  }
  
  .image-homepage {
    display: block;
    width: 300px;
    height: 100px;
    object-fit: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .overlay-text {
    color: #f6ddd1;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }
  
  .homepage-text {
    font-family: 'Courier New', Courier, monospace;
    color: white;
  }

  .typewriter {
    overflow: hidden; /* Ensures the text is not visible */
    border-right: 0.15em solid rgb(246, 246, 245); /* Creates the typewriter cursor effect */
    white-space: nowrap; /* Ensures the text doesn't wrap */
    margin: 0 auto; /* Centers the text */
    letter-spacing: 0.15em; /* Adds spacing between letters */
    animation: typing 6s steps(40, end); /* Animates the typing effect */
    animation-fill-mode: forwards;
    color: #f6ddd1;
  }
  
  @keyframes typing {
    from {
      width: 0; /* Starts with width of 0 */
    }
    to {
      width: 100%; /* Ends with full width */
      border-right: none;
    }
  }
  
.invert{
    filter: invert(100%);
}

.caption {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #352016;
}


.title_name {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #352016;
  padding: 20px;
  font-size: 800;

}

